*{
    margin:0;
    padding:0;
}
.hero{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), url('../images/school.jpg'));
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 310px;
    height: 508px;
    position: relative;
    margin: 4.3% auto;
    background: #287bb5;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}
/* input[type="email"], input[type="password"], input[type="date"], input[type="text"], select, option{
    margin-left: 15px;
} */
input[type="date"], select{
    width: 278px;
}
.input-field[type="email"] {
    color: black;
}
input[type="text"]::placeholder{
    color: black;
}
.input-field::placeholder, select, input[type="date"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
select, option{
    color: black;
}

.input-field[type="email"],
.input-field[type="password"] {
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: initial;
    -moz-appearance: none;
}
.input-field[type="email"]::placeholder,
.input-field[type="password"]::placeholder{
    color: black;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px #fff;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    color: white;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #f07878, #0695fb);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin-top: -35px;
    margin-left: -40px;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    color: black;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #f07878, #0695fb);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}