{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Student Portal | Account Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets2/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets2/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets2/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets2/css/tailwind.css' %}">

    <style>
        *{
            font-family: Georgia, 'Times New Roman', Times, serif;
            
        }
        body{
            background-color: #287bb5;
        }

        #try{
            display: flex;
        }
    </style>
</head>

<body style="background-color: #287bb5;">

            <div class="container m-auto" style="background: #287bb5;"> 

                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;color:#fff;" class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="{% url 'index' %}">Home</a>  / Account Setting for <b style="font-family: Georgia, 'Times New Roman', Times, serif;">{{student_profile.user.username}}</b> </h1>
                <br>
                <hr>

                <center>
                    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;color: #fff;font-size: 30px;">
                    Bsc. {{student_profile.course}}
                    </h2>
                </center>
                <div class="grid lg:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;color:#fff;" class="text-xl mb-2"> General</h3>
                        <p></p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                        <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">
                                <label for="about">Profile Image</label>
                                <img width="100" height="100" src="{{student_profile.profileimg.url}}" alt="">  
                                <input type="file" name="image" value="" class="shadow-none bg-gray-100"></input>
                            </div> 
                            <div class="col-span-2">
                                <label for="about">Bio</label>  
                                <textarea id="about" name="bio"  rows="3"  class="shadow-none bg-gray-100" required>{{student_profile.bio}}</textarea>
                            </div> 
                            <div class="col-span-2">
                                <label for=""> Address</label>
                                <input style="font-family: Georgia, 'Times New Roman', Times, serif;" type="text" name="address" value="{{student_profile.address}}" class="shadow-none bg-gray-100" required>
                            </div>
                            <div class="col-span-2" id="try">
                                <select name="salutation" id="" required>
                                    <option  value="{{student_profile.salutation}}" aria-required="true">{{student_profile.salutation}}</option>
                                    <option value="Mr" aria-required="true">Mr</option>
                                    <option value="Mrs" aria-required="true">Mrs</option>
                                    <option value="Miss" aria-required="true">Miss</option>
                                    <option value="Dr" aria-required="true">Dr</option>
                                    <option value="Bar" aria-required="true">Bar</option>
                                </select>
                                
                                <input placeholder="Mobile Number." style="font-family: Georgia, 'Times New Roman', Times, serif;" type="text" name="phone" value="{{student_profile.phone_number}}" class="shadow-none bg-gray-100" required>
                            </div>
                            <div class="col-span-2" id="try">
                                <select name="nationality" id="" required>
                                    <option value="{{student_profile.nationality}}" aria-required="true">{{student_profile.nationality}}</option>
                                    <option value="Gambian" aria-required="true">Gambian</option>
                                    <option value="Non Gambian" aria-required="true">Non Gambian</option>
                                </select>
                                
                                <select name="status" id="" required>
                                    <option value="{{student_profile.status}}" aria-required="true">{{student_profile.status}}</option>
                                    <option value="Single" aria-required="true">Single</option>
                                    <option value="Married" aria-required="true">Married</option>
                                </select>
                                <!-- <input placeholder="Mobile Number" style="font-family: Georgia, 'Times New Roman', Times, serif;" type="text" name="location" value="{{user_profile.location}}" class="shadow-none bg-gray-100"> -->
                            </div>
                            
                            <div class="col-span-2">
                                <label for=""> Nickname</label>
                                <input style="font-family: Georgia, 'Times New Roman', Times, serif;" type="text" name="nickname" value="{{student_profile.nickname}}" class="shadow-none bg-gray-100">
                            </div>
                            <!-- <div>
                                <label for=""> Working at</label>
                                <input type="text" placeholder="" class="shadow-none bg-gray-100">
                            </div> 
                            <div>
                                <label for=""> Relationship </label>
                                <select id="relationship" name="relationship"  class="shadow-none bg-gray-100">
                                <option value="0">None</option>
                                <option value="1">Single</option>
                                <option value="2">In a relationship</option>
                                <option value="3">Married</option>
                                <option value="4">Engaged</option>
                                </select> -->
                            <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                                <button class="p-2 px-4 rounded bg-gray-50 text-red-500"><a href="{% url 'index' %}"> Cancel </a></button>
                                <button style="background: transparent; color:white;font-family: Georgia, 'Times New Roman', Times, serif;" type="submit" class="button bg-blue-700"> ✅</button>
                            </div>
                        </div>
                        </form>
    
                    </div>

                    <!-- <div>
                        <h3 class="text-xl mb-2"> Privacy</h3>
                        <p> </p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow lg:p-6 p-4 col-span-2">

                    <div class="space-y-3">
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Who can follow me ?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Show my activities ?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox" checked><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Search engines?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="flex justify-between items-center">
                            <div>
                                <h4> Allow Commenting?</h4>
                                <div>  </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                </div>
                            </div>
                        </div>
                    </div> -->
    
                    </div>
                    <br>

                </div>

            </div>
            
        </div>

    </div>


    

<!-- Scripts
    ================================================== -->
    <script src="{% static 'assets2/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets2/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets2/js/uikit.js' %}"></script>
    <script src="{% static 'assets2/js/simplebar.js' %}"></script>
    <script src="{% static 'assets2/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>